{% extends "base.html" %}
{% load static %}

{% block jstop %} 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7TO_foWjd8-G9now8GNGdFifAvAKixvc"></script>

<script>
  var myCenter = new google.maps.LatLng(39.8282,-98.5795);
  var activeInfoWindow;  

  {% for hackathon in hackathons %}
      var {{hackathon}} = new google.maps.LatLng({{hackathon.lat}},{{hackathon.lon}});
      var {{hackathon}}Content = "{{ hackathon }}" + " " + "{{hackathon.city}}" + ", " + "{{ hackathon.state }}" + "-" + "{{hackathon.date|date:"d-m-Y"}}";
  {% endfor %}

// ************** INITIALIZE *******
  function initialize(){
    var mapProp = {
      center:myCenter,
      zoom:4,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };

  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  {% for hackathon in hackathons %}

      var {{hackathon}}Marker=new google.maps.Marker({ position:{{hackathon}},});
      {{hackathon}}Marker.setMap(map);

      var {{hackathon}}infowindow = new google.maps.InfoWindow({
          content:"{{ hackathon }}" + "<br />" + "{{hackathon.city}}" + ", " + "{{ hackathon.state }}" + "<br />" + "{{hackathon.date|date:"m-d-Y"}}"});


      google.maps.event.addListener({{hackathon}}Marker, 'mouseover', function() {
        
        // Close active window if exists - [one might expect this to be default behaviour no?]        
        if(activeInfoWindow != null) activeInfoWindow.close();
        
        // Open new InfoWindow for mouseover event
        {{hackathon}}infowindow.open(map, {{hackathon}}Marker);
        
        // Store new open InfoWindow in global variable
        activeInfoWindow = {{hackathon}}infowindow;       
      });               
      
      // on mouseout (moved mouse off marker) make infoWindow disappear
      google.maps.event.addListener({{hackathon}}Marker, 'mouseout', function() {
        {{hackathon}}infowindow.close();  
      });
   
  {% endfor %}
}

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
    {% endblock jstop %}
    

{% block body %}
<div id="googleMap"></div>

<!-- TEST -->
<div class="container">
  <img id="mlhlogo" src="{% static "images/mlhlogo.png" %}" alt="mlhlogo"/>
  <h2>Spring 2016 </h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Hackathon</th>
        <th>School</th>
        <th>Location</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for hackathon in hackathons %}
      <tr>
        <td>{{ hackathon }}</td>
        <td>{{ hackathon.school }}</td>
        <td>{{ hackathon.city }}, {{ hackathon.state }}</td>
        <td>{{ hackathon.date|date:"m-d-Y" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}

{% block js %}{% endblock js %}