<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title> HackU {% block title%} {% endblock title %} </title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    {% block jstop %}{% endblock jstop %}
    


	{% block css %}{% endblock css %}
	 <!-- CSS -->

<style>

{% block style %}{% endblock style %}
</style>

</head>

<body>


    <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


       {% block body %}{% endblock body %}


    <!-- /.container -->

    <!-- Begin page content -->
 





  </body>
        

<script>
{% block js %}{% endblock js %}

</script>

</body>
</html> 